version: 3.0.{build}
image: Visual Studio 2019
platform:
- Win32
- x64
configuration:
- Release
install:
- git submodule update --init --recursive
build:
  project: $(APPVEYOR_BUILD_FOLDER)\$(APPVEYOR_PROJECT_NAME).sln
