<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="2.1.3" targetFramework="net452" developmentDependency="true" />
  <package id="Nefarius.Devcon" version="1.0.0" targetFramework="net452" />
  <package id="PInvoke.Kernel32" version="0.5.97" targetFramework="net452" />
  <package id="PInvoke.Windows.Core" version="0.5.97" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Console" version="3.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
  <package id="Topshelf.Serilog" version="4.0.3" targetFramework="net452" />
</packages>